<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
    ol[type="a"],
        ol[type="I"] {
            padding-left: 60px; 
        }
    </style>
</head>
<body>
    <ol>
        <li > <a href="#id-1">El Impacto del Internet en la Cultura del Ocio</a> 
            <ol>
                <ul> <a href="#id-1.1">1.1  Streaming de Contenido: La Era Dorada del Entretenimiento Bajo Demanda</a> o</ul>
                <ul> <a href="#id-1.2">1.2  Redes Sociales y Comunidades en Línea: Conectando Pasiones y Aficiones</a></ul>
            </ol>
        </li>
    </ol>
<h3 id="id-1"> El Impacto del Internet en la Cultura del Ocio </h3>
<p>
El advenimiento del internet ha revolucionado la forma en que las personas encuentran entretenimiento y se recrean. Antes limitados a opciones locales o a la programación televisiva, ahora tenemos acceso a una vasta gama de actividades de ocio desde la comodidad de nuestros dispositivos conectados.
</p>
<h4 id="id-1.1" > Streaming de Contenido: La Era Dorada del Entretenimiento Bajo Demanda </h4>
<p>
El surgimiento de plataformas de streaming como Netflix, Amazon Prime Video y Disney+ ha democratizado el acceso al entretenimiento. Ahora, los usuarios pueden disfrutar de una amplia selección de películas, series, documentales y programas de televisión en cualquier momento y lugar. Esta disponibilidad instantánea ha cambiado los hábitos de consumo de medios, permitiendo a los espectadores controlar su experiencia de visualización de manera personalizada.
</p>
<h4 id="id-1.2"> Redes Sociales y Comunidades en Línea: Conectando Pasiones y Aficiones </h4>
<p>
El internet también ha facilitado la creación y participación en comunidades en línea centradas en diversos intereses y pasatiempos. Plataformas como Reddit, Tumblr y grupos de Facebook han permitido a las personas compartir sus pasiones, discutir temas de interés común y formar lazos con otros que comparten sus aficiones. Estas comunidades en línea no solo proporcionan un espacio para el intercambio de ideas, sino que también fomentan un sentido de pertenencia y camaradería entre sus miembros.

</p> 
</body>
</html>