*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

  background-image: url(../img/fondo6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


/*NAVEGADOR*/
.navegador nav{
    background-color: cornflowerblue ;
}

.titulo{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #fff;
}

/*TABLA*/
.tabla {
    margin: 20px auto;
    padding: 30px;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }

  table.medico {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
  }

  table.medico th {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    
  }

  table.medico td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    font-weight: bold;
  }

button{

    padding: 8px 7px;
    border: none;
    border-radius: 5px;
}

  .crud-buttons{
    margin-top: 10px;
    text-align: right;
  }

  .editarBtn {
    background-color: green;
    color: #ffff;
  }

  .eliminarBtn{
    background-color: red;
    color: #ffff;
  }

  .agregarBtn {
    margin-right: 10px;
    background-color: #6a92f7;
    color: #ffff;
  }

  /*FORMULARIO*/

  .formulario-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.formulario {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cerrar-formulario {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.cerrar-formulario:hover {
    color: red;
}

.form-grupo{
  margin-bottom: 10px;
}

.form-grupo label{

  display: block;
  margin-bottom: 3px;
}

.form-grupo input{
  width: 100%;
  padding: 1px;
  box-sizing: border-box;
}

.guardar{

  background-color: darkcyan;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 8px;
  border-radius: 5px;
}